<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta http-equiv="cleartype" content="on" />
    <meta name="format-detection" content="telephone=no" />
    <style>
      html,
      body {
        margin: 0;
        padding: 0;
        background: url('./assets/doodles.png') repeat;
      }
      canvas {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    </style>
  </head>

  <body>
    <div id="game"></div>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.15/dist/phaser.min.js"></script>
  </body>
</html>
